version: '3'

services:
  # rqlite:
  #     image: rqlite/rqlite:latest
  #     container_name: myrqlite-container-1
  #     hostname: myrqlite-host-1
  #     restart: unless-stopped
  #     volumes:
  #       - ./data:/rqlite/file/data
  #     ports:
  #       - "4001:4001"
  #       - "4002:4002"
  #     env_file: .env
  #     healthcheck:
  #       test: ["CMD", "wget", "-q", "-O", "/dev/null", "http://myrqlite-host-1:4001/status"]
  #       interval: 10s
  #       timeout: 5s
  #       retries: 5
  #       start_period: 30s
  
  parkside-notifier:
    image: "parkside-notifier"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080" 
    restart: unless-stopped
    depends_on: 
      - rod-service
    env_file: .env

  rod-service:
    hostname: rod
    ports:
      - 7317:7317
    image: ghcr.io/go-rod/rod